<!DOCTYPE html>
<html  lang="ro">
    <head>
        <title> ReFresh </title>
        <meta name="keywords" content="Produse Alimentare, Fructe, Legume, Proaspat, Produse vegane, Produse lactate">
        <meta name="description" content="Fa-ti cumparaturile de pe cel mai fresh magazin online de produse alimentare. Aici gasesti tot ceea ce ai nevoie pentru a-ti prepara mesele tale favorite. Livrare in 24 ore la usa ta. ">
        <link rel="stylesheet" type="text/css" href="/resurse/css/eroare.css">
        <%- include("../fragmente/head.ejs");  %> 
</head>
<body>
            
    <%- include("../fragmente/header.ejs");  %> 

    <main>
        <h2 style="text-align: center;"><i>Galerie</i></h2>
        <section id="container-galerie-animata">
            <div class="galerie_animata" id="galanim">
                    <% for (let imag of locals.imagini) { %>
                        <figure>
                            <picture>
                              <source srcset="<%= imag.fisier_mediu %>" media="(max-width: 1200px)" />
                              <img src="<%= imag.fisier %>" alt="a">
                            </picture>
                        <figcaption><%= imag.descriere %></figcaption>
                      </figure>
                    <% } %>
            </div>
        </section>
    </main>

    <%- include("../fragmente/footer.ejs");  %> 

    </body>
</html>